apiVersion: datadoghq.com/v2alpha1
kind: DatadogAgent
metadata:
  name: datadog
spec:
  global:
    clusterName: "{{ cluster_name_val }}"
    site: "{{ datadog_site }}"
    kubelet:
      tlsVerify: false
    credentials:
      apiSecret:
        secretName: datadog-secret
        keyName: api-key
  
  features:
    liveProcessCollection:
      enabled: {{ process_agent_enabled | lower }}
    logCollection:
      enabled: {{ logs_enabled | lower }}
      containerCollectAll: true
    orchestratorExplorer:
      enabled: {{ orchestrator_explorer_enabled | lower }}
    apm:
      enabled: {{ apm_enabled | lower }}
      hostPortConfig:
        enabled: true
    
    admissionController:
      enabled: true
      mutateUnlabelled: false

  override:
    clusterAgent:
      env:
        - name: DD_KUBELET_TLS_VERIFY
          value: "false"
        - name: DD_ORCHESTRATOR_EXPLORER_KUBELET_CONFIG_ENABLED
          value: "true"
    nodeAgent:
      hostNetwork: true
      dnsPolicy: ClusterFirstWithHostNet
      containers:
        agent:
          resources:
            requests:
              cpu: "{{ agent_request_cpu }}"
              memory: "{{ agent_request_memory }}"
            limits:
              cpu: "{{ agent_limit_cpu }}"
              memory: "{{ agent_limit_memory }}"
      env:
        - name: DD_HOSTNAME
          value: "{{ hostname_alias }}"
        - name: DD_CLUSTER_NAME
          value: "{{ cluster_name_val }}"
        - name: DD_ORCHESTRATOR_EXPLORER_KUBELET_CONFIG_ENABLED
          value: "true"
        - name: DD_KUBERNETES_KUBELET_HTTPS_PORT
          value: "10250"
        - name: DD_KUBERNETES_KUBELET_HOST
          valueFrom:
            fieldRef:
              fieldPath: status.hostIP
        - name: DD_KUBELET_TLS_VERIFY
          value: "false"
        - name: DD_CLOUD_PROVIDER_METADATA
          value: "false"
        - name: DD_EC2_METADATA_ENABLED
          value: "false"
